body {
    background: url("./assets/flag.jpg");
    background-repeat: no-repeat;
    color: #ffffff;
}
button {
    width: 100px;
    height: 30px;
    border: 3px solid white;
    border-radius: 50px;
    background-color: #202020;
    color: #ffffff;
    cursor: pointer;
    outline: none;
}
#stopwatch {
    font-size: 100px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -55%);
}
#buttons {
    position: absolute;
    top: 55%;
    left: 48.4%;
    transform: translate(-51.6%, -45%);
}
#buttons li {
    display: inline;
    padding-left: 10px;
}
.text {
    font-family: Georgia, serif;
    font-size: 70px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}